USE [master]
GO
/****** Object:  Database [BookManagement]    Script Date: 7/21/2021 12:52:18 PM ******/
CREATE DATABASE [BookManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BookManagement.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BookManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BookManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookManagement]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 7/21/2021 12:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[bookID] [nvarchar](20) NOT NULL,
	[bookName] [nvarchar](20) NULL,
	[author] [nvarchar](20) NULL,
	[publisher] [nvarchar](20) NULL,
	[publishedYear] [int] NULL,
	[forRent] [bit] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[bookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Books] ([bookID], [bookName], [author], [publisher], [publishedYear], [forRent]) VALUES (N'DBI201', N'SQL', N'Stev', N'Apple', 2014, 1)
INSERT [dbo].[Books] ([bookID], [bookName], [author], [publisher], [publishedYear], [forRent]) VALUES (N'DBI202', N'SQL', N'Martin', N'IBM', 2010, 1)
INSERT [dbo].[Books] ([bookID], [bookName], [author], [publisher], [publishedYear], [forRent]) VALUES (N'PRF192', N'C', N'Bill Gate', N'Microsoft', 2018, 1)
USE [master]
GO
